.env

nginx-proxy-manager/*
authentik/*
# Ignore everything in the homeassistant folder except for this file
homeassistant/*

!homeassistant/configuration.yaml
!homeassistant/scenes.yaml
!homeassistant/secrets.yaml
!homeassistant/automations.yaml
!homeassistant/custom_components/
!homeassistant/.HA_VERSION